<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResumeIQ-AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
    <body>
        <header>
            <div class="container">
                 <div class="navbar">

                <h1 class="logo">ResumeIQ-AI</h1>

                <nav>
                    <a href="/history">History</a>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/logout">logout</a>
                </nav>
                </div>
            </div>
        </header>
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div class="container">
                <p>&copy; 2026 ResumeIQ-AI. All rights reserved.</p>
            </div>
            </footer>
    </body>
</html>